<div class="container">
    <div class="row">

        <div class="col-xl-3 p-0 col-md-4 col-sm-12">
            <img src="https://o.aolcdn.com/images/dims3/GLOB/crop/4256x2394+0+261/resize/800x450!/format/jpg/quality/85/https://media-mbst-pub-ue1.s3.amazonaws.com/creatr-images/2020-06/e8810110-b632-11ea-9c7e-ecae17081081">
            <h1>NHTSA investigates Tesla touchscreen failures</h1>
            <p>Memory can wear out, causing complete unit failure, loss of safety systems</p>
        </div>

        <div class="col-xl-3 p-0 col-md-4 col-sm-12">
            <img src="https://o.aolcdn.com/images/dims3/GLOB/crop/4256x2394+0+261/resize/800x450!/format/jpg/quality/85/https://media-mbst-pub-ue1.s3.amazonaws.com/creatr-images/2020-06/e8810110-b632-11ea-9c7e-ecae17081081">
            <h1>NHTSA investigates Tesla touchscreen failures</h1>
            <p>Memory can wear out, causing complete unit failure, loss of safety systems</p>
        </div>

        <div class="col-xl-3 p-0 col-md-4 col-sm-12">
            <img src="https://o.aolcdn.com/images/dims3/GLOB/crop/4256x2394+0+261/resize/800x450!/format/jpg/quality/85/https://media-mbst-pub-ue1.s3.amazonaws.com/creatr-images/2020-06/e8810110-b632-11ea-9c7e-ecae17081081">
            <h1>NHTSA investigates Tesla touchscreen failures</h1>
            <p>Memory can wear out, causing complete unit failure, loss of safety systems</p>
        </div>

        <div class="col-xl-3 p-0 col-md-4 col-sm-12">
            <img src="https://o.aolcdn.com/images/dims3/GLOB/crop/4256x2394+0+261/resize/800x450!/format/jpg/quality/85/https://media-mbst-pub-ue1.s3.amazonaws.com/creatr-images/2020-06/e8810110-b632-11ea-9c7e-ecae17081081">
            <h1>NHTSA investigates Tesla touchscreen failures</h1>
            <p>Memory can wear out, causing complete unit failure, loss of safety systems</p>
        </div>

        <div class="col-xl-3 p-0 col-md-4 col-sm-12">
            <img src="https://o.aolcdn.com/images/dims3/GLOB/crop/4256x2394+0+261/resize/800x450!/format/jpg/quality/85/https://media-mbst-pub-ue1.s3.amazonaws.com/creatr-images/2020-06/e8810110-b632-11ea-9c7e-ecae17081081">
            <h1>NHTSA investigates Tesla touchscreen failures</h1>
            <p>Memory can wear out, causing complete unit failure, loss of safety systems</p>
        </div>

        <div class="col-xl-3 p-0 col-md-4 col-sm-12">
            <img src="https://o.aolcdn.com/images/dims3/GLOB/crop/4256x2394+0+261/resize/800x450!/format/jpg/quality/85/https://media-mbst-pub-ue1.s3.amazonaws.com/creatr-images/2020-06/e8810110-b632-11ea-9c7e-ecae17081081">
            <h1>NHTSA investigates Tesla touchscreen failures</h1>
            <p>Memory can wear out, causing complete unit failure, loss of safety systems</p>
        </div>

        <div class="col-xl-3 p-0 col-md-4 col-sm-12">
            <img src="https://o.aolcdn.com/images/dims3/GLOB/crop/4256x2394+0+261/resize/800x450!/format/jpg/quality/85/https://media-mbst-pub-ue1.s3.amazonaws.com/creatr-images/2020-06/e8810110-b632-11ea-9c7e-ecae17081081">
            <h1>NHTSA investigates Tesla touchscreen failures</h1>
            <p>Memory can wear out, causing complete unit failure, loss of safety systems</p>
        </div>

        <div class="col-xl-3 p-0 col-md-4 col-sm-12">
            <img src="https://o.aolcdn.com/images/dims3/GLOB/crop/4256x2394+0+261/resize/800x450!/format/jpg/quality/85/https://media-mbst-pub-ue1.s3.amazonaws.com/creatr-images/2020-06/e8810110-b632-11ea-9c7e-ecae17081081">
            <h1>NHTSA investigates Tesla touchscreen failures</h1>
            <p>Memory can wear out, causing complete unit failure, loss of safety systems</p>
        </div>
    </div>
</div>